/* mobile first */


body {
	min-width: 320px;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

/* page background */

/* this is a quick and dirty solution */
#background-image {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: url(../images/small-back.jpg) no-repeat center;
	background-size: cover;
	z-index: -2;
}

#background-color {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(45, 45, 45, .2);
	z-index: -2;
}

/* header ----------------------------------------------------------------------------------------*/

header {
	position: fixed;
	width: 100%;
	top: 0;
	/* floating will move outside the header */
	overflow: auto;
	-webkit-transition: background-color .5s linear;
	-moz-transition: background-color .5s linear;
	-o-transition: background-color .5s linear;
	transition: background-color .5s linear;
    font-family: 'Varela Round', sans-serif;
	box-shadow: 0 1px 2px black;
}

header > a {
	color: white;
	font-size: 20px;
	padding: 0 10.5px;
	margin: 5px 5px;
	float: right;
	line-height: 38px;
	-webkit-transition: background-color .1s ease;
	-moz-transition: background-color .1s ease;
	-o-transition: background-color .1s ease;
	transition: background-color .1s ease;
	text-shadow: 1px 1px 2px black;
	border-radius: 19px;
}

header > a.menu {
	float: left;
}

header > a:hover, header > a:focus {
	background-color: rgba(0, 0, 0, .9);
}

header.stickyHeader {
	background-color: rgba(0, 0, 0, .3);
}

/* landing page ----------------------------------------------------------------------------------*/

#landing-page {
	position: relative;
	padding:48px 0 0 0;
	height: calc(100vh - 48px);
	z-index: -1;
}

#landing-page > h1 {
	line-height: 150%;
	margin: 0;
	width: 100%;
	position: absolute;
	top: calc(50vh - 48px);
	text-align: center;
	color: white;
	font-family: 'Special Elite', cursive;
	font-weight: normal;
}

/* blinking cursor */
.blinking-cursor {
	-webkit-animation: 1s blink linear infinite;
	-moz-animation: 1s blink linear infinite;
	-o-animation: 1s blink linear infinite;
	animation: 1s blink linear infinite;
}

@-webkit-keyframes blink {
	0% {
		color: transparent;
	}
	50% {
		color: white;
	}
	100% {
		color: transparent;
	}
}

@-moz-keyframes blink {
	0% {
		color: transparent;
	}
	50% {
		color: white;
	}
	100% {
		color: transparent;
	}
}

@-o-keyframes blink {
	0% {
		color: transparent;
	}
	50% {
		color: white;
	}
	100% {
		color: transparent;
	}
}

@keyframes blink {
	0% {
		color: transparent;
	}
	50% {
		color: white;
	}
	100% {
		color: transparent;
	}
}

/* contact form ----------------------------------------------------------------------------------*/

#contact-form {
	padding: 30px 0;
	background-color: rgba(236, 181, 62, 0.95);
	border-bottom: 2px solid #c9840e;
}

#contact-form > form {
	width: 90%;
	margin: 0 auto;
}

#contact-form > form > p {
	text-align: center;
}

#contact-form > form > p, #contact-form > form > input, #contact-form > form > textarea {
	display: block;
	margin: 20px auto;
	font-family: 'Lato', georgia;
	font-size: 25px;
	color: white;
}

#contact-form > form > input, #contact-form > form > textarea {
	border-radius: 10px;
	background: none;	
	width: calc(90% - 30px);
	padding: 15px;
	border: 2px dashed white;
}


#contact-form > form > :last-child:hover, #contact-form > form > :last-child:focus {
	background-color: rgba(136, 81, 4, 0.95);
}

#contact-form > form > :last-child:active {
	border: inset #c9840e;
}

#contact-form > form > :first-child, #contact-form > form > :last-child {
	margin: 0 auto;
}

#contact-form > form > :last-child {
	text-align: center;
	cursor: pointer;
	border: outset #c9840e;
	padding: 10px;
	width: 120px;
	-webkit-transition: background-color .1s ease;
	-moz-transition: background-color .1s ease;
	-o-transition: background-color .1s ease;
	transition: background-color .1s ease;
	margin-top: 30px;
}

#contact-form > form > :first-child {
	margin-bottom: 30px;
}

*::-webkit-input-placeholder {
	color: rgba(255, 255, 255, .5);
}

*:-ms-input-placeholder {
	color: rgba(255, 255, 255, .5);
}

*::-ms-input-placeholder {
	color: rgba(255, 255, 255, .5);
}

/* footer ----------------------------------------------------------------------------------------*/

footer {
	padding: 50px 0;
	text-align: center;
	background-color: #2a3a3f;
	color: rgba(255, 255, 255, .4);
}

footer > p {
	margin: 0;
	font-size: 13px;
}


/* large screen */


@media screen and (min-width: 650px) {
    
    #background-image {
    	background: url(../images/large-back.jpg) no-repeat center;
    	background-size: cover;
    }

    #contact-form > form {
		width: 65%;
	}

	#contact-form > form > input, #contact-form > form > textarea {	
		width: calc(65% - 30px);
	}	
}
